numpy==2.1.0
openpyxl==3.1.5
pip ==24.2
asgiref
dj-database-url
Django
django-rest-passwordreset
django-cors-headers
django-rest-passwordreset
djangorestframework
djangorestframework-simplejwt
et-xmlfile
gunicorn
idna
msal
mssql-django
django-mssql-backend
mysql-connector-python
pycparser
PyJWT
pyodbc
python-dateutil
typing_extensions
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
xlrd==2.0.1
python-decouple==3.8
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
setuptools==73.0.1
six==1.16.0
openapi
pypI
pandas
mysqlclient ==2.2.4
psycopg2 ==2.9.9
