<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Employer Profile Details</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form action="{% url 'employer_profile' %}"  method="post",name="csrfmiddlewaretoken" >
        {% csrf_token %}
        <input type="number" name="profile_id" placeholder="Profile Id"><br>
        <input type="text" name="employer_name" placeholder="Employer Name"><br>
        <input type="text" name="street_name" placeholder="Street Name"><br>
        <input type="text" name="city" placeholder="City Name"><br>
        <input type="text" name="state" placeholder="State"><br>
        <input type="text" name="country" placeholder="Country"><br>
        <input type="number" name="zipcode" placeholder="zipcode"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="number" name="number_of_employer" placeholder="Number of Employer"><br>
        <input type="text" name="department" placeholder="Department"><br>
        <input type="Submit">

    </form>

    <div>
        {% for message in messages %}
        <h3> {{message}}  </h3>
        {% endfor %}
    </div>

</body>
</html>